name: Mirroring

on:
  push:
    branches:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: git remote set-url --add --push origin https://bobroe@bitbucket.org/bobroe/mirrorops.git
      - run: git remote set-url --add --fetch origin https://bobroe@bitbucket.org/bobroe/mirrorops.git
      - uses: actions/checkout@v3

      - run: git remote -v

      - name: Commit new code
        run: |
          # echo ${{ github.sha }} >> VERSION.md
          git config --global user.name 'bobroe'
          git config --global user.email 'bobroe.web@gmail.com'
          # git remote set-url --add --push origin https://bobroe@bitbucket.org/bobroe/mirrorops.git
          git pull origin
          # git add *
          # git commit -am "Mirroring commit"
          # git push -u origin --all