name: Mirroring

on:
  push:
    branches:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - run: ls -la

      - name: Commit new code
        run: |
          git remote -v