name: Mirroring

on:
  push:
    branches:
      - "*"
      
jobs:
  git-sync:
    runs-on: ubuntu-latest
    steps:
      - name: git-sync
        uses: wei/git-sync@v3
        with:
          source_repo: "git@github.com:andrey-olishchuk/mirrorops.git"
          source_branch: "main"
          destination_repo: "git@bitbucket.org:bobroe/mirrorops.git"
          destination_branch: "main"
          ssh_private_key: ${{ secrets.BITBUCKET_KEY }}
          source_ssh_private_key: ${{ secrets.BITBUCKET_KEY }}
          destination_ssh_private_key: ${{ secrets.BITBUCKET_KEY }}